body {
  color: white;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header  {
  color: #F9FAF8;
  background-color: #1f2937;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 200px, 20px;
}

.ul {
  display: flex;
  list-style: none;
  align-items: center;
  flex-direction: row;
  color: #e5e7eb;
  height: 18px;
  margin: 20px;
}

.left, .right{
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 20px 80px;
}

a {
  color: #e5e7eb;
  height: 18px;
  font-size: 16px;
  margin: 10px;
  font-weight: 300;
  text-decoration: none;
}

.container {
  background-color :blueviolet;
  display: flex;
  justify-content: space-between;
}

.footer {
  color: #F9FAF8;
  font-weight: 300;
  font-size: 12px;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

