body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  color: #e5e7eb;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 10px 40px;
  border-radius: 10px;
  border-color: #e5e7eb;
  border-style: solid;
}

img {
  width: auto;
  max-height: 300px;
  object-fit: contain;
}

.header,
.container.one {
  color: #f9faf8;
  background-color: #1f2937;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
}

.header a {
  margin-left: 10px;
}

.left,
.right {
  display: flex;
  align-items: center;
}

.ul {
  display: flex;
  list-style: none;
  align-items: center;
  color: #e5e7eb;
  height: 18px;
  margin: 20px;
}

.container.two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: transparent;
  width: 500px;
  margin-right: 10px;
}

.container.two a {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  display: block;
}

.container.two p {
  font-size: 18px;
  color: #e5e7eb;
}

.container.two button {
  border: none;
}

.container.three {
  margin: 20px 100px;
  margin-bottom: 60px;
}

.container.three a {
  display: flex;
  justify-self: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin: 40px;
}

.container.four {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.container.four img {
  width: 120px;
  height: auto;
  border-radius: 10px;
  border-style: solid;
  border-color: #3882f6;
}

.container.four figure {
  text-align: center;
}

.container.four figcaption {
  font-size: 14px;
  color: #1f2937;
  font-weight: 200;
  max-width: 110px;
}

.container.five {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 80px 200px;
}

.container.five p {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
}

.container.five a {
  font-size: 24px;
  font-weight: 600;
  color: #1f2937;
  align-self: flex-end;
  margin-right: 50px;
}

.container.six {
  margin: 80px 100px;
  background-color: #3882f6;
  border-radius: 10px;
  color: #e5e7eb;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
  align-items: last baseline;
}

.container.six a {
  font-size: 36px;
  color: #f9faf8;
  font-weight: 900;
  display: block;
  height: auto;
}

.container.six p {
  font-size: 18px;
  color: #e5e7eb;
  display: block;
  word-wrap: break-word;
}

.footer {
  color: #f9faf8;
  font-weight: 300;
  font-size: 12px;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
